<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESG</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/publication_icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/output">ESG Logs</a>
    </div>
    <div class="container">
        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <div class="action-section">
            <h2>Upload Files</h2>
            <form id="configForm" method="post" enctype="multipart/form-data" action="/" style="margin-bottom: 20px;">
                <label for="configFileInput">Choose Config File:</label>
                <input type="file" id="configFileInput" name="config_file" onchange="updateFileName('configFileInput', 'configFileLabel')">
                <label id="configFileLabel" {% if config_file_name %}style="display:none;"{% endif %}>No file chosen</label>
                <input type="submit" value="Upload Config File">
            </form>

            <form id="dataForm" method="post" enctype="multipart/form-data" action="/">
                <label for="dataFilesInput">Choose Data Files:</label>
                <input type="file" id="dataFilesInput" name="data_files" multiple onchange="updateFileCount('dataFilesInput', 'dataFilesLabel')">
                <input type="submit" value="Upload Data Files">
            </form>
        </div>

        <div class="action-section">
            <h2>Delete All Files</h2>
            <form id="deleteFilesForm" method="post" action="/delete_files">
                <input type="submit" value="Delete All Files">
            </form>
        </div>

        <div class="action-section">
            <h2>Run ESG</h2>
            <form id="runAppForm" method="post" action="/run_app">
                <input type="submit" value="Run ESG">
            </form>
        </div>

        <div class="action-section">
            <h2>View ESG Logs</h2>
            <form method="get" action="/output">
                <input type="submit" value="View ESG Logs">
            </form>
        </div>

        <div class="action-section">
            <h2>Download ESG Outputs</h2>
            <form method="get" action="/download_outputs">
                <input type="submit" value="Download ESG Outputs">
            </form>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>
